section{
    border: black solid 1px;
    background-color: whitesmoke;
    padding: 5px;
}
article{
    display: flex;
}
img{
    width: 40px;
    margin: 5px;
}

.second > img{
    float: right;
}
.third:first-child{
    float: left;
}
.last{
    float: right;
}